.nav{
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
}

.nav-inner{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    gap: 12px ;
}

