body{
    margin: 0;
}
.product-card *{
    text-decoration: none;
    color: black;
}
.product-card{
    margin: 10px 10px;
    font-family: "Montserrat", sans-serif ;
    height: 350px;
    width: 300px;
    overflow: hidden;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    color: black;
}
.product-card #title{
    font-size: 1.2rem;
    font-weight: 600;
    font-style: normal;
    
}
.product-card #price{
    font-size: 1.3rem;
    font-weight: 720;
    font-style: italic;
    
}
.product-card img{
    width: 100%;
    height: 60%;
}

.rating-box{
    letter-spacing: 2px;
    font-size: small;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.rating-box h4{
    font-weight: 300;    
}
.product-info *{
    margin: 0;
}
.product-info{
    height: 30%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 0 10px;
}
